@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #f7f7f7;
    --card: 222.86deg 17.07% 8.04%;

    --primary: #2dac5c;
    --primary-foreground: #000000;
    --secondary: #ffffff;
    --secondary-foreground: #f0f0f0;
    --border: #dfdfdfb7;
    --mutated: #49596198;
  }

  .dark {
    --background: #020916;
    --card: 222.86deg 17.07% 8.04%;

    --primary: #2dac5c;
    --primary-foreground: #97a3ad;
    --secondary: #111926;
    --secondary-foreground: #141e2e;
    --border: rgb(41, 53, 61);
    --mutated: #495961c7;
  }
}
@layer base {
  body {
    @apply bg-background font-baloo antialiased;
  }

  input {
    @apply border p-2 xl:p-3 rounded outline-none w-full text-lg xl:text-xl;
  }

  * {
    scrollbar-width: thin;
    scrollbar-color: var(--background) var(--secondary-foreground);
  }
}

@layer components {
  .add_field {
    @apply h-9 xl:h-12 xl:px-6 px-4 text-sm xl:text-xl bg-secondary-foreground text-primary-foreground rounded-full shadow-xl border border-border_color;
  }

  .error_message {
    @apply text-red-700 text-sm xl:text-lg font-medium px-3;
  }

  .truncate-text {
    /* max-width: 8rem; Set a maximum width */
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .break-words {
    overflow-wrap: break-word; /* Ensures text breaks within container */
    word-wrap: break-word; /* Provides similar behavior */
    white-space: normal; /* Allows text to wrap to new lines */
    word-break: break-word; /* Breaks long words as needed */
  }

  /* Hide scrollbar on Webkit browsers */
  .remove-scrollbar {
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    scrollbar-width: none; /* Firefox */
  }

  .remove-scrollbar::-webkit-scrollbar {
    display: none; /* Webkit browsers */
  }

  .submit-btn {
    @apply bg-primary mt-6 h-11 px-4 w-full rounded-full text-lg tracking-wide xl:text-xl text-background cursor-pointer duration-200 hover:bg-secondary-foreground hover:outline outline-border_color font-bold outline-2 hover:text-primary-foreground text-center hover:shadow-xl;
  }
}
